/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  border-bottom: 1px solid black;
  padding: 5px;
  width: 100%;
}

.nav-item {
  padding: 2px 4px 2px 4px;
  margin: 2px;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid black;
  padding: 15px;
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.order-form {
  border: 1px solid black;
  padding: 25px;

  table {
    width: 100%;
    margin-top: 10px;
  }

  th, td {
    padding: 5px 10px;
    text-align: left;
  }

  .field {
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      width: 50%;
      padding: 10px 12px;
    }
  }

  input[type="submit"] {
    padding: 12px 25px;
    margin-top: 10px;
  }
}
